<p>
  <strong>Usuario:</strong>
  <%= @reserva.usuario_id %>
</p>
 
<p>
  <strong>Clase:</strong>
  <%= @reserva.clase_id %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @reserva.fecha %>
</p>

<%= link_to "Volver", reservas_path %>