<p>
  <strong>Clase:</strong>
  <%= @clase.nombre %>
</p>
 
<p>
  <strong>Fecha:</strong>
  <%= @clase.fecha %>
</p>

<p>
  <strong>Cupos:</strong>
  <%= @clase.cupos %>
</p>

<%= link_to "Volver", clases_path %>
